body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614768218_34-p-kofeinie-foni-72.jpg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #96613d;
}
.navbar {
    background-color: #854921;
    padding: 10px;
    color: white;
    text-align: center;
}
.navbar button {
    background-color: #96613d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a {
    text-decoration: none;
    color: white;
}

.navbar button:hover {
    background-color: #986b4c;
}
.container {
    max-width: 680px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #96613d;
}
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #754322;
}

tr:hover {
    background-color: #71492e;
}
