body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background: url("https://top-fon.com/uploads/posts/2023-01/1674738040_top-fon-com-p-kofe-fon-prezentatsii-89.jpg");
    background-size: cover;
}
.navbar {
    background-color: #854921;
    padding: 10px;
    color: white;
    text-align: center;
}
.navbar button {
    background-color: #96613d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.navbar button:hover {
    background-color: #986b4c;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #96613d;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    text-align: center;
    color: #64310f;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #b2b3b6;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.form-control:hover {
    outline: 2px solid #663a1d;
}

select.form-control {
    appearance: none;
    width: 98%;
}

.btn {
    display: block;
    width: 99%;
    padding: 10px;
    background-color: #663a1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4e2a11;
}
